# Ignore node_modules
/node_modules

# Ignore vscode settings
/.vscode

# Ignore dotenv
.env

# Ignore flask session
/flask_session

# Ignore static files
/static/*

# Unignore required folders
!static/css/
!static/js/

# Ignore everything inside them again
static/css/*
static/js/*

# Allow only css/js files
!static/css/*.css
!static/js/*.js

# Ignore build files
/build/**/*

# Ignore python cache
/__pycache__/

# Ignore jupyter notebooks
*.ipynb_checkpoints
*.ipynb
*.nbconvert
.ipynb_checkpoints
.ipynb

# Virtual env
.venv

# Other
drafts/
app-orig.py