<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Sessions - Writer Copilot AI{% endblock %}
{% block navbar %}
	<div class="dock-item" onclick="window.location.href='/'" title="Home">
		<i class="bi bi-house"></i>
		Home
	</div>
	<div class="dock-separator"></div>
	<div class="dock-item" onclick="scrollToSection('plots-section')" title="Plots">
		<i class="bi bi-house"></i>
		Plots 
	</div>
	<div class="dock-item" onclick="scrollToSection('story-section')" title="Story">
		<i class="bi bi-book"></i>
		Story
	</div>
	<div class="dock-item" onclick="scrollToSection('drafts-section')" title="Drafts">
		<i class="bi bi-archive"></i>
		Drafts
	</div>
	<div class="dock-separator"></div>
	<div class="dock-item" onclick="window.location.href='/'" title="Back">
		<i class="bi bi-arrow-left-circle"></i>
		Back
	</div>	
{% endblock %}
{% block content %}
<style>
	.section-nav-wrapper {
		position: sticky;
		top: 0; /* or 10px if you want spacing */
		z-index: 20;

		
		backdrop-filter: blur(8px);

		padding: 10px 0;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-4 left-panel">
			<div class="bordered">
				<h2 class="bold">{{ session.session_name|upper }}</h2>
				<hr>
				<p class="desc">{{ session.session_description }}</p>

				<p class="text-small" id="created">{{ session.timestamp }}</p>
				<p class="text-small" id="sessionid">{{ session.session_id }}</p>
				<a class="btn btn-primary" href="{{ url_for('sessions') }}">Back</a>
				<div class="section-nav-wrapper">
					<div class="section-nav">
						<button class="nav-btn" onclick="scrollToSection('plots-section')">Plots</button>
						<button class="nav-btn" onclick="scrollToSection('story-section')">Story</button>
						<button class="nav-btn" onclick="scrollToSection('drafts-section')">Drafts</button>
					</div>
				</div>
			</div>
			<div class="bordered">
				<div class="accordion" id="leftAccordion">
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								Story Parameters
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
							data-bs-parent="#leftAccordion">
							<div class="accordion-body">
								<div class="form-group gap-10">
									<h5 class="verdana">Story Parameters</h5>
									<label for="mainConflict">Main conflict</label>
									<textarea class="form-control text-area" placeholder="What is the central conflict?"
										id="mainConflict"></textarea>

									<label for="protagonist">Protagonist</label>
									<textarea class="form-control text-area" placeholder="Who is the main character?"
										id="protagonist"></textarea>

									<label for="storyPerson">Person</label>
									<select class="form-control" title="Person" name="storyPerson" id="storyPerson">
										<option value="First Person">First Person</option>
										<option value="Third Person" default>Third Person</option>
									</select>

									<label for="openingScene">Opening scene</label>
									<textarea class="form-control text-area"
										placeholder="What happens in the first scene?" id="openingScene"></textarea>

									<label for="storyType">Story Type</label>
									<select class="form-control" title="Story Type" name="storyType" id="storyType">
										<option value="Novella">Novella</option>
										<option value="Short Story" default>Short Story</option>
										<option value="Long Story">Long Story</option>
										<option value="Novel">Novel</option>
									</select>
									<label for="noOfPlots">Number of plots to generate</label>
									<input type="number" class="form-control" placeholder="Number of plots"
										id="noOfPlots" value="1" />

									<label for="wordsToGenerate">Words to Generate</label>
									<input type="number" class="form-control" placeholder="Number of words to generate"
										id="wordsToGenerate" value="300" />
									<button class="btn btn-primary genplotbtn"
										onclick="sendDataToLLM(generate='plots',el=this)">Generate Plots</button>
								</div>
							</div>
						</div>
					</div>					
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								AI Output
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingThree"
							data-bs-parent="#leftAccordion">
							<div class="accordion-body">
								<div class="form-group gap-10">
									<h5 class=" verdana">AI Output</h5>
									<button class="btn btn-danger" id="stopBtn">Stop Generation</button>
									<div class="form-control" id="aiOutput" placeholder="AI Output"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8 right-panel">
			
			<div class="bordered right-panel-section" id="plots-section">
				<h4>Plots</h4>
				<hr>
				<div id="status"></div>
				<!-- <div id="plots"></div> -->
				<div class="accordion" id="plots"></div>
			</div>
			<div class="bordered" id="story-section">
				<h4>Story</h4>
				<hr>
				<div class="form-group gap-10" id="selectedPlot">
					<h5 class=" verdana">Selected Plot</h5>
					<h6>Core Idea</h6>
					<textarea class="form-control text-area" id="coreIdea"
						placeholder="What is the core idea?">${plot.core_idea}</textarea>
					<h6>Protagonist</h6>
					<textarea class="form-control text-area" id="protagonist"
						placeholder="Protagonist">${plot.protagonist}</textarea>
					<h6>Conflict</h6>
					<textarea class="form-control text-area" id="conflict"
						placeholder="Conflict">${plot.conflict}</textarea>
					<h6>Stakes</h6>
					<textarea class="form-control text-area" id="stakes"
						placeholder="Stakes">${plot.stakes}</textarea>
					<h6>Direction</h6>
					<textarea class="form-control text-area" id="direction"
						placeholder="Direction">${plot.direction}</textarea>
					<button class="btn btn-primary genstorybtn"
					onclick="sendDataToLLM(generate='story',el=this)">Generate Story</button>
				</div>
				
				<div class="row gen-story-panel">
					<h4>Generated Story</h4>
					<div id="storyPlot">
						<textarea class="form-control text-area text-justify h-500" id="generatedStory"
						placeholder="Generated Story"></textarea>
					</div>
					<div class="col-md-12 mb-2">
						<button class="btn btn-primary" id="saveStory" onclick="saveStoryDraft()">Save</button>
					</div>
				</div>
			</div>
			<div class="bordered right-panel-section" id="drafts-section">
				<h4>Drafts</h4>
				<hr>
				<div class="story-drafts"></div>
			</div>
		</div>		
	</div>
</div>

{% endblock %}
{% block scripts %}
<script>
	function scrollToSection(id) {
	const el = document.getElementById(id);
	if (el) {
			el.scrollIntoView({
				behavior: "smooth",
				block: "start"
			});
		}
	}
	const ts_elem = document.getElementById('created');
	let av_plots = {{ plots.available | default([]) | tojson }};
	console.log(av_plots);
	
	const plotsDiv = document.getElementById("plots");
	let plotsTextfromAI = "";
	let useCachedPlots = !true;
	let useTestData = !true;
	let plots = [];
	let plotCounter=0;
	let storyDrafts = [];
	const sessionId = "{{ session.session_id }}";
	const stopButton = document.getElementById("stopBtn");
	stopButton.style.display = "none";
	const aiOutput = document.getElementById("aiOutput");
	const storyDiv = document.getElementById("generatedStory");

	function loadPlots() {
		plotCounter=0;
		fetch(`/get_plots?id=${sessionId}`)
			.then(res => res.json())
			.then(res => {

				console.log(res);
				const av_plots = res.plots.available;

				plotsDiv.innerHTML = "";

				for (let i = 0; i < av_plots.length; i++) {
					const plotObj = av_plots[i];   // {plot_id, plot}
					plotsDiv.appendChild(createPlotDiv(i, plotObj, false));
				}
			});
	}

	function loadStoryDrafts(){
		storyDrafts = [];
		console.log("loading story drafts");
		fetch(`/get_story_drafts?id=${sessionId}`)
			.then(res => res.json())
			.then(res => {
				console.log(res);
				storyDrafts = res.story_drafts;
				const storyDraftsDiv = document.querySelector(".story-drafts");
				storyDraftsDiv.innerHTML = "";
				for (let i = 0; i < storyDrafts.length; i++) {
					const storyDraft = storyDrafts[i];
					storyDrafts[i] = storyDraft;
					storyDraftsDiv.appendChild(createStoryDraftDiv(i, storyDraft));
				}
			});
	}

	async function saveStoryDraft() {
		let selectedPlot = document.querySelector("#selectedPlot");
		let core_idea = selectedPlot.querySelector("#coreIdea").value;
		let protagonist = selectedPlot.querySelector("#protagonist").value;
		let conflict = selectedPlot.querySelector("#conflict").value;
		let stakes = selectedPlot.querySelector("#stakes").value;
		let direction = selectedPlot.querySelector("#direction").value;
		let story = storyDiv.value;
		await fetch('/update_session', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded'
			},
			body: new URLSearchParams({ 
				id:sessionId, 
				story,
				core_idea,
				protagonist,
				conflict,
				stakes,
				direction
			})
		});
		await loadStoryDrafts();
	}

	function createStoryDraftDiv(i, storyDraft) {
		const div = document.createElement("div");
		div.classList.add("card");
		div.classList.add("m-2");
		div.innerHTML = `
			<div class="card-header">
				Story Draft ${i+1}
			</div>
			<div class="card-body">
				<h5>Plot</h5>
				<p>${storyDraft['plot']['core_idea']}</p>
				<h5>Protagonist</h5>
				<p>${storyDraft['plot']['protagonist']}</p>
				<h5>Conflict</h5>
				<p>${storyDraft['plot']['conflict']}</p>
				<h5>Stakes</h5>
				<p>${storyDraft['plot']['stakes']}</p>
				<h5>Direction</h5>
				<p>${storyDraft['plot']['direction']}</p>
				<h5>Story Opening</h5>
				<p>${storyDraft['story']}</p>
				<p>Created: ${storyDraft['timestamp']}</p>
			</div>
			<div class="card-footer">
				<button class="btn btn-primary" onclick="useStoryDraft(${i})">Use Draft</button>
				<button class="btn btn-danger" data-timestamp="${storyDraft['timestamp']}" onclick="rejectStoryDraft(this)">Delete Draft</button>
			</div>
		`;
		return div;
	}

	function useStoryDraft(i){
		console.log("Found storyDrafts:", storyDrafts);
		alert("Story Draft active");
		const storyDraft = storyDrafts[i];
		console.log(storyDraft);
		const selectedPlot = document.querySelector("#selectedPlot");
		selectedPlot.querySelector("#coreIdea").value = storyDraft['plot']['core_idea'];
		selectedPlot.querySelector("#protagonist").value = storyDraft['plot']['protagonist'];
		selectedPlot.querySelector("#conflict").value = storyDraft['plot']['conflict'];
		selectedPlot.querySelector("#stakes").value = storyDraft['plot']['stakes'];
		selectedPlot.querySelector("#direction").value = storyDraft['plot']['direction'];
		storyDiv.value = storyDraft['story'];
	}

	function load_values_in_forms() {
		// Story Parameters
		document.getElementById("mainConflict").value = {{ session.story_params.mainConflict|tojson }};		
		document.getElementById("protagonist").value = {{ session.story_params.protagonist|tojson }};
		document.getElementById("openingScene").value = {{ session.story_params.openingScene|tojson }};
		document.getElementById("wordsToGenerate").value = {{ session.story_params.wordsToGenerate|tojson }};
		document.getElementById("storyType").value = {{ session.story_params.storyType|tojson }};
		document.getElementById("storyPerson").value = {{ session.story_params.storyPerson | tojson }};
		document.getElementById("noOfPlots").value = {{ session.story_params.noOfPlots|tojson }};

		const selectedPlot = document.querySelector("#selectedPlot");
		console.log("dict : ", plots);
		let usedPlot={{ plots|default({})|tojson }};
		if (usedPlot && usedPlot.used && usedPlot.used.plot) {
			selectedPlot.querySelector("#coreIdea").value = usedPlot.used.plot.core_idea;
			selectedPlot.querySelector("#protagonist").value = usedPlot.used.plot.protagonist;
			selectedPlot.querySelector("#conflict").value = usedPlot.used.plot.conflict;
			selectedPlot.querySelector("#stakes").value = usedPlot.used.plot.stakes;
			selectedPlot.querySelector("#direction").value = usedPlot.used.plot.direction;
		}
		else {
			selectedPlot.querySelector("#coreIdea").value = "";
			selectedPlot.querySelector("#protagonist").value = "";
			selectedPlot.querySelector("#conflict").value = "";
			selectedPlot.querySelector("#stakes").value = "";
			selectedPlot.querySelector("#direction").value = "";
		}

		loadPlots();
		loadStoryDrafts();
	}
	load_values_in_forms();
	function timeAgo(timestamp) {
		const now = new Date();
		const date = new Date(Number(timestamp)); // already in ms
		const seconds = Math.floor((now - date) / 1000);

		if (seconds < 5) return "Just now";

		const intervals = [
			{ label: "year", seconds: 31536000 },
			{ label: "month", seconds: 2592000 },
			{ label: "day", seconds: 86400 },
			{ label: "hour", seconds: 3600 },
			{ label: "minute", seconds: 60 },
			{ label: "second", seconds: 1 }
		];

		for (const interval of intervals) {
			const count = Math.floor(seconds / interval.seconds);
			if (count >= 1) {
				return `${count} ${interval.label}${count > 1 ? "s" : ""} ago`;
			}
		}
	}

	function convertToAgoFormat(rawText) {
		const timestamp = rawText.replace("Created:", "").trim();

		const result = timeAgo(timestamp);

		if (!result) {
			console.error("Invalid timestamp:", rawText);
			return;
		}

		ts_elem.textContent = `Created: ${result}`;
	}

	convertToAgoFormat(ts_elem.textContent);


	const test_data = {
		mainConflict: "a war is happening in a certain location.",
		protagonist: "we have a sniper positioned on a rooftop",
		openingScene: "he notices some activity on the road",
		wordsToGenerate: "300",
		storyType: "Short Story",
		storyPerson: "Third Person",
		noOfPlots: "1"
	};

	sendDataToLLM = async function (generate, el) {

		const mainConflict = useTestData ? test_data.mainConflict : document.getElementById("mainConflict").value;
		const protagonist = useTestData ? test_data.protagonist : document.getElementById("protagonist").value;
		const openingScene = useTestData ? test_data.openingScene : document.getElementById("openingScene").value;
		const wordsToGenerate = useTestData ? test_data.wordsToGenerate : document.getElementById("wordsToGenerate").value;
		const storyType = useTestData ? test_data.storyType : document.getElementById("storyType").value;
		const storyPerson = useTestData ? test_data.storyPerson : document.getElementById("storyPerson").value;
		const noOfPlots = useTestData ? test_data.noOfPlots : document.getElementById("noOfPlots").value;

		/* Update sidebar */

		document.getElementById("mainConflict").value = mainConflict;
		document.getElementById("protagonist").value = protagonist;
		document.getElementById("openingScene").value = openingScene;
		document.getElementById("wordsToGenerate").value = wordsToGenerate;
		document.getElementById("storyType").value = storyType;
		document.getElementById("storyPerson").value = storyPerson;
		document.getElementById("noOfPlots").value = noOfPlots;

		if (generate == "plots") {	
			
			const storyParams = { mainConflict, protagonist, openingScene, wordsToGenerate, storyType, storyPerson, noOfPlots };

			const response1 = await fetch('/update_session', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded',
				},
				body: new URLSearchParams({ 
					id: sessionId,
					story_params: JSON.stringify(storyParams)
				}), // make sure you have this 
				
			});
			console.log(response1);		
		}

		success=false;
		maxRetries = 10;
		retry=0;

		while(!success && retry < maxRetries){	


			// 🔥 HARD RESET BEFORE NEW REQUEST
			plotsTextfromAI = "";
			storyFromPlot = "";
			document.getElementById("aiOutput").innerHTML = "";

			controller = new AbortController();

			try {
				let response = null;
				if (!useCachedPlots) {
					if (generate == "plots") {
						response = await fetch('/send_data_to_llm', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify({
								generate,
								mainConflict,
								protagonist,
								openingScene,
								wordsToGenerate,
								storyType,
								storyPerson,
								noOfPlots
							}),
							signal: controller.signal
						});
					}
					if (generate == "story") {
						let selectedPlot = document.querySelector("#selectedPlot");
						let core_idea = selectedPlot.querySelector("#coreIdea").value;
						let protagonist = selectedPlot.querySelector("#protagonist").value;
						let conflict = selectedPlot.querySelector("#conflict").value;
						let stakes = selectedPlot.querySelector("#stakes").value;
						let direction = selectedPlot.querySelector("#direction").value;
						response = await fetch('/send_data_to_llm', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify({
								mainConflict,
								generate,
								core_idea,
								protagonist,
								conflict,
								stakes,
								direction,
								wordsToGenerate,
								storyType,
								storyPerson
							}),
							signal: controller.signal
						});
					}

					if (!response.body) {
						throw new Error("Streaming not supported");
					}

					const reader = response.body.getReader();
					const decoder = new TextDecoder();
					currentRequestId = response.headers.get("X-Request-ID");
					//status.innerText = (!generatePlots) ? "Generating Story..." : "Generating Plots... Please wait...";

					stopButton.style.display = "inline-block";

					const thisRequestId = currentRequestId;  // 🔥 ADD THIS BEFORE LOOP


					while (true) {

						const { done, value } = await reader.read();

						if (done) break;

						// 🔥 IGNORE OLD STREAM DATA
						if (thisRequestId !== currentRequestId) {
							console.log("Old stream ignored");
							break;
						}

						const chunk = decoder.decode(value, { stream: true });

						if (generate == "plots") {
							plotsTextfromAI += chunk;
							aiOutput.innerHTML = plotsTextfromAI;
							aiOutput.scrollTop = aiOutput.scrollHeight;
						}
						else if (generate == "story") {
							storyFromPlot += chunk;
							aiOutput.innerHTML = storyFromPlot;
							//storyDiv.innerHTML = storyFromPlot;						
							aiOutput.scrollTop = aiOutput.scrollHeight;
							//storyDiv.scrollTop = storyDiv.scrollHeight;
						}
					}
				}
				if (generate == "plots") {
					await populatePlots();
				}
				else if (generate == "story") {
					await populateStory();//implement saving logic
				}
				success = true;
			} catch (error) {
				if (error.name === "AbortError") {
					console.log("⛔ Generation stopped");
				} else {
					console.error("AI continuation failed:", error);
					alert("Failed to continue story.");
				}
				console.log("Retrying...");
				retry++;
			}
		}
	};

	populateStory = async function () {
		
		const jsonMatch = storyFromPlot.match(/\{[\s\S]*\}/);

		if (!jsonMatch) {
			throw new Error("No valid JSON found");
		}

		 let safeJSON = jsonMatch[0];

		// 🔥 Clean control characters
		safeJSON = safeJSON
			.replace(/\n/g, "")
			.replace(/\r/g, "")
			.replace(/\t/g, " ");

		try {
			console.log(safeJSON);
			const cleanedStoryFromPlot = JSON.parse(safeJSON);
			let story = cleanedStoryFromPlot.story;

			// 🔥 Render properly
			storyDiv.value = story.replace(/\\n/g, "<br>");

			await saveStoryDraft();

			
		} catch (e) {
			console.error("JSON parsing failed:", e);
			console.log("Problematic JSON:", safeJSON);
		}
		stopButton.style.display = "none";
	}
	populatePlots = async function () {
		//console.log("Entering populatePlots function");
		
		//plotsDiv.innerHTML = "";
		plots = plotsTextfromAI.trim();
		//console.log("plotsTextfromAI:", plotsTextfromAI);
		plots = useCachedPlots ? JSON.parse(localStorage.getItem("plots")) : plots;
		if (!useCachedPlots) {
			localStorage.setItem("plots", JSON.stringify(plots));
		}
		//console.log("plots:", plots);		

		try {
			const parsed = JSON.parse(plotsTextfromAI);

			// 🔥 Handle both formats
			if (Array.isArray(parsed)) {
				plots = parsed;
			} else if (Array.isArray(parsed.plotlines)) {
				plots = parsed.plotlines;
			} else {
				throw new Error("Invalid structure: plotlines not found");
			}
			

		} catch (e) {
			console.error("JSON parsing failed:", e);
			return;
		}

		console.log("plots length:", plots.length);
		stopButton.style.display = "none";

		for (let i = 0; i < plots.length; i++) {
			const plot = plots[i];			
			try {
				const response = await fetch('/update_session', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
					},
					body: new URLSearchParams({
						id: sessionId,   // make sure you have this
						available_plot: JSON.stringify(plot)
					})
				});
				const data = await response.json();
			} catch (error) {
				console.error("Failed to update session:", error);
			}
		}

		loadPlots();		
	};

	function createPlotDiv(i,plot, makeEditable = true) {
		makeEditable=makeEditable?"":"readonly";
		const plotDiv = document.createElement("div");
		plotDiv.classList.add("plot");
		plotDiv.classList.add("accordion-item");
		plotDiv.innerHTML = `				
			<div class="accordion-header rounded">
				<button class="accordion-button collapsed" type="button"
					data-bs-toggle="collapse"
					data-bs-target="#collapse-${i}"
					aria-expanded="true">
					Plot ${++plotCounter}
				</button>
			</div>

			<div id="collapse-${i}" class="accordion-collapse collapse">
				<div class="accordion-body rounded">
					<div class="row g-3">
						<div class="col-md-12">
							<h6 class="">Core Idea</h6>
							<textarea class="form-control text-area coreIdea" ${makeEditable}>${plot.plot.core_idea}</textarea>
						</div>

						<div class="col-md-6">
							<h6 class="">Protagonist</h6>
							<textarea class="form-control text-area protagonist">${plot.plot.protagonist}</textarea>
						</div>

						<div class="col-md-6">
							<h6 class="">Conflict</h6>
							<textarea class="form-control text-area conflict">${plot.plot.conflict}</textarea>
						</div>

						<div class="col-md-6">
							<h6 class="">Stakes</h6>
							<textarea class="form-control text-area stakes">${plot.plot.stakes}</textarea>
						</div>

						<div class="col-12">
							<h6 class="">Direction</h6>
							<textarea class="form-control text-area direction">${plot.plot.direction}</textarea>
						</div>

					</div>

					<div class="d-flex justify-content-between mt-3" name="plotActions">
						<div>
							<button class="btn btn-success btn-sm" data-id="${plot.plot_id}" onclick="usePlot(this)">
								Use this plot
							</button>							
						</div>

						<button class="btn btn-danger btn-sm" data-id="${plot.plot_id}" onclick="rejectPlot(this)">
							Reject Plot
						</button>
					</div>
				</div>
			</div>
		`;

		return plotDiv;
	}

	function usePlot(i) {
		const card = i.closest(".accordion-item");		
		const core_idea= card.querySelector(".coreIdea").value;
		const protagonist= card.querySelector(".protagonist").value;
		const conflict= card.querySelector(".conflict").value;
		const stakes= card.querySelector(".stakes").value;
		const direction= card.querySelector(".direction").value;

		const selectedPlot = document.querySelector("#selectedPlot");
		selectedPlot.querySelector("#coreIdea").value = core_idea;
		selectedPlot.querySelector("#protagonist").value = protagonist;
		selectedPlot.querySelector("#conflict").value = conflict;
		selectedPlot.querySelector("#stakes").value = stakes;
		selectedPlot.querySelector("#direction").value = direction;


		fetch('/update_session', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded',
			},
			body: new URLSearchParams({
				id: sessionId,   // make sure you have this
				used_plot_id: i.dataset.id
			})
		});
	}

	function rejectPlot(i) {
		const plotId = i.dataset.id;
		// 🔥 remove from UI
		const card = i.closest(".accordion-item");
		if (card) card.remove();
		fetch('/update_session', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded',
			},
			body: new URLSearchParams({
				id: sessionId,   // make sure you have this
				rejected_plot_id: plotId
			})
		});
	}

	async function rejectStoryDraft(i) {
		const storyDraftTimestamp = i.dataset.timestamp;
		// 🔥 remove from UI
		const card = i.closest(".card");
		if (card) card.remove();
		await fetch('/update_session', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded',
			},
			body: new URLSearchParams({
				id: sessionId,   // make sure you have this
				rejected_story_draft_timestamp: storyDraftTimestamp
			})
		});
		await loadStoryDrafts();
	}


	//for testing, loading plots from ls directly
	if (useCachedPlots) {
		sendDataToLLM();
	}

	stopGeneration = async function () {

		// stop frontend
		if (controller) {
			controller.abort();
		}

		// spam check
		if (!currentRequestId) return;

		// 🔥 stop backend
		if (currentRequestId) {
			await fetch("/stop_generation", {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					request_id: currentRequestId
				})
			});
		}
		// 🔥 FULL RESET
		currentRequestId = null;
		plotsTextfromAI = "";

		aiOutput.innerHTML = "";
		stopButton.style.display = "none";
	};

	
</script>
{% endblock %}